<style type="text/css">
  body {
    font-weight: 200;
  }
  .table-container {
    display: flex;
    align-items: center;
    place-content: center;
  }
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header * {
    text-align: center;
  }
  .header h1 {
    width: 100%;
  }
  .header p {
    width: 45%;
  }
  table {
    width: 90%;
    border-collapse: collapse;
  }
  thead {
    display: table-header-group;
    break-inside: avoid;
  }
  table thead th {
    padding: 8px 0px;
    margin-top: 50px;
  }
  table tr td, table tbody th {
    border: 1px solid #000;
    padding: 8px;
    font-weight: 200;
    margin: 0px;
  }
</style>
<html>
  <body>
    <div class="header">
      <h1>Reporte - Archivos en el servidor</h1>
      <p style="text-align: left;">
        Solicitado por : {{ username }}
      </p>
      <p style="text-align: right;">
        {{ date }}
      </p>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>INO</th>
            <th>Nombre</th>
            <th>Subido por</th>
            <th>F. Subida</th>
            <th>Modificado por</th>
            <th>F. Módificación</th>
          </tr>
        </thead>
        <tbody>
          {{#each files as |file|}}
          <tr>
            <td>{{file.ino}}</td>
            <td>{{file.name}}</td>
            <td>{{file.username}}</td>
            <th>{{file.birthtime}}</th>
            <td>{{file.username_mo}}</td>
            <th>{{file.lastModified}}</th>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>


{{!-- 
  fetch("http://example.com/ExportExcel", {
      method: 'GET',
      headers: new Headers({
          "Authorization": "Bearer " + token
      })
  })
  .then(response => response.blob())
  .then(blob => {
      var url = window.URL.createObjectURL(blob);
      var a = document.createElement('a');
      a.href = url;
      a.download = "filename.xlsx";
      document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
      a.click();    
      a.remove();  //afterwards we remove the element again         
  });
 --}}